<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="inetpub" value="C:\YEDEK"/>
		<add key="inetpubZipDestination" value="C:\yedek_archive"/>
		<add key="SFTPDestinationInetpubPath" value="DB/Backup/SQL"/>
		<add key="SFTPHost" value=""/>
		<add key="SFTPKullaniciAdi" value=""/>
		<add key="SFTPSifre" value=""/>
	</appSettings>
</configuration>